---
import BaseLayout from '../layouts/BaseLayout.astro'

import ContactCTA from '../components/ContactCTA.astro'
import Hero from '../components/Hero.astro'
---

<BaseLayout
    title="About | Jeanine White"
    description="About Jeanine White Lorem Ipsum"
>
    <div class="flex flex-col gap-20">
        <main class="w-full">
            <Hero title="My Story" />
        </main>
    </div>
</BaseLayout>
