---
import type { CollectionEntry } from 'astro:content'

interface Props {
    project: CollectionEntry<'work'>
}

const { data, slug } = Astro.props.project
---

<a
    class="card grid h-96 grid-cols-[auto_1fr] grid-rows-[auto_1fr] overflow-hidden rounded-xl border-2 border-solid border-gray-800 font-semibold shadow-sm hover:shadow-md"
    href={`/work/${slug}`}
>
    <div
        class="title z-10 col-span-1 col-start-1 row-span-1 row-start-1 m-2 flex items-center gap-2 rounded-md bg-gray-950 px-2 py-2 text-gray-300"
    >
        {
            data.badge && (
                <div class="h-7 w-7 overflow-hidden rounded-full bg-white p-[0.2rem]">
                    <img src={data.badge} />
                </div>
            )
        }
        {data.title}
    </div>
    <img
        src={data.img}
        alt={data.img_alt || ''}
        loading="lazy"
        decoding="async"
        class="col-span-full row-span-full h-full w-full object-cover"
    />
</a>
